
.pio/
.venv/
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
esp32_marauder/.vscode/settings.json
__pycache__/
*.pyc

# Generated offline IEEE assignment database
marauder_oui.bin
